name: CI CPU Testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
  
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8]
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Restore Ubuntu cache
      uses: actions/cache@v1
      if: matrix.operating-system == 'ubuntu-latest'
      with:
        path: ~/.cache/pip
        key: ${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('**/setup.py')}}
        restore-keys: ${{ matrix.os }}-${{ matrix.python-version }}-
    - name: Restore MacOS cache
      uses: actions/cache@v1
      if:  matrix.operating-system == 'macos-latest'
      with:
        path: ~/Library/Caches/pip
        key: ${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('**/setup.py')}}
        restore-keys: ${{ matrix.os }}-${{ matrix.python-version }}-
    - name: Restore Windows cache
      uses: actions/cache@v1
      if: matrix.operating-system == 'windows-latest'
      with:
        path: ~\AppData\Local\pip\Cache
        key: ${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('**/setup.py')}}
        restore-keys: ${{ matrix.os }}-${{ matrix.python-version }}-
    - name: Update pip
      run: python -m pip install --upgrade pip
    - name: Install dependencies for Python 3.6
      if: matrix.python-version == 3.6
      run: >
        pip install -r requirements36.txt
    - name: Install dependencies for Python 3.7&3.8
      if: matrix.python-version >= 3.7
      run: >
        pip install -r requirements.txt
    - name: Test with unittest
      run: |
        pip install pytest
        python -m unittest
